* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

body {
    background-color: black;
}

.head-container {
    width: 100%;
    background-color: black;

}

.head-bar {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 60px;
    border: 2px solid rgb(255, 255, 255);

}

.logo-container {
    display: flex;
    justify-content: start;
    padding: 30px 0;
}

.nav-container ul {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container a {
    color: white;
    font-size: 20px;
}

.nav-container i {
    margin-right: 5px;
}



.button {
    display: flex;
}

.button button {
    margin-left: 10px;
    height: 50px;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size: 15px;
    border: 3px solid wheat;
    padding: 5px 20px;
}

.head-container .form {
    width: 90%;
    margin: 0 auto;


}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;

}


.form input {
    width: 40%;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 12px;
    margin-right: 15px;
    border: 3px solid yellow;
    padding: 0 15px;
}

.form button {
    width: 15%;
    border-radius: 25px;
    background-color: yellowgreen;
    font-size: medium;
}

/*Footer*/
.foot-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    min-height: 300px;
    display: flex;
    justify-content: start;
    padding: 5px 0;


}

.playstore {

    display: flex;
    justify-content: start;
    align-items: start;
    width: 120px;
    border: 1px solid white;
    border-radius: 8px;
}

.appstore {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 120px;
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 10px;
}

.playstore a {
    display: flex;
    gap: 10px;
    color: white;
    font-size: 12px;
}

.appstore a {
    display: flex;
    gap: 10px;
    color: white;
    font-size: 12px;
    align-items: center;
}

.playstore img {
    width: 30px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
    display: grid;
    align-items: center;

}


.appstore img {
    width: 30px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
    display: grid;
    align-items: center;

}

.list {
    display: flex;
    margin-left: 220px;
    margin-top: -80px;
}

.list ul li a {

    color: white;
    font-size: smaller;
}

.ul {
    margin-left: 80px;
}

.social i {
    /* background-color: black; */
    color: white;
    margin-left: 5px;
    /* display: flex;
    justify-content: end; */
}

.social {
    display: flex;
    justify-content: end;

}

.salam {
    width: 100%;
}


@media (max-width: 992px) {
    .nav-container ul {
        gap: 20px;
    }

    .button button {
        font-size: 15px;
        padding: 6px 10px;
    }

    .form input {
        flex: 1 1 200px;
    }

    .list {
        justify-content: center;
    }
}


@media (max-width: 768px) {


    .nav-container {
        display: none;
    }

    .button {
        margin-top: 10px;
    }


    .form input {
        width: 100%;
        margin-top: 15px;

    }

    .form button {
        width: 100%;
        font-size: 15px;
        padding: 8px 0;
        border-radius: 15px;
        margin-top: 15px;
    }


    .list {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .playstore,
    .appstore {
        width: 80%;
        justify-content: center;
    }

    form {
        display: block;
        justify-content: center;
        width: 100%;

    }
}

@media (max-width: 480px) {
    .logo {
        width: 80px;
    }

    .nav-container {
        display: none;
    }

    .button button {
        width: 100%;
        padding: 10px 0;
    }

    .playstore,
    .appstore {
        width: 100%;
    }

    .list ul li a {
        font-size: 13px;
    }

    .form input {
        height: 45px;
        width: 100%;
    }

    form {
        display: block;


    }
}


.carousel-item img {
    height: 650px;
    object-position: 50%;
    border-radius: 15px;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: 15px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}


#movies {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 15px;
    padding: 20px;
}

#movies::-webkit-scrollbar {
    height: 8px;
    /* Scroll çubuğunun qalınlığı */
}

#movies::-webkit-scrollbar-thumb {
    background-color: #ffcb04;
    /* Scroll çubuğunun rəngi */
    border-radius: 10px;
}

.card {
    flex: 0 0 auto;
    /* Kartların ölçüsünü sabit saxla */
    width: 18rem;
}

.scroll-btn {
    position: absolute;
    top: 900px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 50%;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.scroll-btn:hover {
    background-color: rgba(255, 203, 4, 0.9);
    color: black;
}

.left-btn {
    left: 10px;
}

.right-btn {
    right: 10px;
}

#exxenSlider {
    margin-top: 50px;
}

.card-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
    color: rgb(55, 70, 5);
    background-color: rgb(66, 254, 232);
}

.card {
    background-color: black;
}

.card h5 {
    color: white;
}

.card p {
    color: white;
}

#searchInput {
    width: 95%;
    margin: 35px auto;
    height: 50px;
    background-color: black;
    padding-left: 50px;
    padding-right: 10px;
    color: aliceblue;
    border-radius: 15px;
    border: 4px solid rgb(188, 188, 32);
    position: absolute;

}

.search-box {
    display: flex;
    justify-content: center;
    position: relative;
}

.search-box i {
    color: aliceblue;
    position: absolute;
    left: 45px;
    top: 45px;
    z-index: 1;

}

.card {
    margin-top: 100px;
}