* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.logo {
    width: 15%;
    border: 2px solid rgb(255, 255, 255);

}

.cus-container {
    width: 100vw;
    background-color: black;
    height: 200px;

}

.nav-container {
    margin-right: 25%;
}

.nav-container ul {
    display: flex;
    justify-content: center;
    align-items: center;



}

.button {
    display: flex;
    margin-left: 10px;
}

.button button {
    margin-left: 10px;
    width: 7vw;
    height: 5vh;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size: 20px;
    border: 3px solid wheat;
}

.nav-container span {
    padding-right: 8px;
    font-size: 20px;
}

.nav-container li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: white;
    cursor: pointer;

}

.head-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-container {
    width: 90%;
    margin: 0 auto;

}

.logo-container {
    display: flex;
    justify-content: start;
    padding: 30px 0;
}

.form {
    display: flex;
    justify-content: space-between;

}

.form input {
    width: 550px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 12px;
    margin-right: 15px;
    border: 3px solid yellow;

}

.form button {
    width: 200px;
    border-radius: 25px;
    background-color: yellowgreen;
    font-size: medium;
}

.playstore {

    background-color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 10%;
    border: 1px solid white;
    border-radius: 8px;
}

.appstore {

    background-color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 10%;
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 1%;
}
.playstore a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: white;
}

.appstore a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    align-items: center;
}

.playstore img {
    width: 40px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
    display: grid;
    align-items: center;

}


.appstore img {
    width: 40px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
    display: grid;
    align-items: center;

}
.list{
    display: flex;
    margin-left: 220px;
    margin-top: -97px;
}
.list ul li a{
    
    color: white;
    font-size: smaller;
}
.ul{
margin-left: 80px;
}
.social i{
    background-color: black;
    color: white;
    margin-left: 5px;
}
.social{
    margin-left: 1233px;
    margin-top: -80px;
}
